# No vim files
*.swp

# Exclude output directory
bin/
bin/*

# Exclude example site
example/
example/*
# Exclude configuration for demo site
SPARKDEMO.conf
SPARKDEMO.build

# Exclude debugging files
gmon.out
callgrind*
