div.codecontainer {
	font-family: "Courier New", Monospace;
	background-color: #282834;
	margin: 1ch;
	font-size: 1.15em;
	border-radius: 5px;
        border: 2px solid #393945;
        padding-left: 1ch;

}
div.codecontainer pre code {
	font-size: 1.15em;
	white-space: pre-wrap;
}
@media screen and (max-device-width: 600px){
  div.codecontainer {
    text-size-adjust: 100%;
  }
}

span.inlco {
	font-family: "Courier New", Monospace;
	color: #ff2a4e;
	background-color: #161616;
	border-radius: 3px;
	border: 1px solid #252525;
	font-size: 16px;
	padding-left: 2px;
	padding-right: 2px;
}
code span.c_function {
	color: #669900;
	font-weight: bold;
}
code span.c_keyword {
	color: #b54db5;
	font-weight: bold;
}
code span.c_bracket {
	color: #997a00;
	font-weight: bold;
}
code span.c_semi {
	color: #994d00;
	font-weight: bold;
}
code span.c_string {
	color: #bd7508;
	font-weight: bold;
}
code span.c_comment {
	color: #006600;
	font-weight: bold;
}
code span.c_varname {
	color: #6666cc;
	font-weight: bold;
}
code span.c_parameter {
	color: #6666cc;
	font-weight: bold;
}
code span.c_type {
	color: #3366ff;
	font-weight: bold;
}
code span.c_operator {
	color: #bb003e;
	font-weight: bold;
}
code span.c_comma {
	color: #997a00;
	font-weight: bold;
}
code span.c_number {
	color: #00cc44;
	font-weight: bold;
}
code span.c_property {
	color: #cccc66;
	font-weight: bold;
}
code span.c_boolean {
	color: #99006d;
	font-weight: bold;
}
